<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col>
          <div></div>
        </ion-col>
        <ion-col>
          <div>RiwaRiwi.com</div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Bosen antri cari tiket bepergian ?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Langsung saja pilih tiket yang anda suka di bawah ini !! check this out..</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Opsi Tiket</ion-label>
      </ion-list-header>
      <ion-item [routerLink]="'/tabs/tab1/detail'">
        <ion-icon slot="start" color="high" name="train"></ion-icon>
        <ion-label>Kereta Api</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/tabs/tab1/detail2'">
        <ion-icon slot="start" color="high" name="airplane"></ion-icon>
        <ion-label>Pesawat</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/tabs/tab1/detail3'">
        <ion-icon slot="start" color="high" name="bus"></ion-icon>
        <ion-label>Bus</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/tabs/tab1/detail4'">
        <ion-icon slot="start" color="high" name="boat"></ion-icon>
        <ion-label>Kapal Laut</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
